.form{
  z-index: 99;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 10px;
}

.input{
  width: 15rem;
  height: 2rem;
  padding: 0 .5rem;
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
}

.form button{
  background: white;
  border: none;
  border-left: 1px solid #1f1f1f;
  height: 2rem;
  padding: 0 .5rem;
  border-radius: 0 20px 20px 0;
  transition: .3s;
  cursor: pointer;
}

.form button:hover{
  background: darkgray;
  color: white;
}